@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}


html {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #127520 #f5f5f5;
}

/* For Chrome, Safari, Opera */
html::-webkit-scrollbar {
  width:5px;
  height: 0px; /* Hide horizontal scrollbar */
  background: #127520;
}

html::-webkit-scrollbar-thumb {
  background: #127520;
  border-radius: 4px;
}

html::-webkit-scrollbar-corner {
  background: #f5f5f5;
}
